[Unit]
Description=openHARMONIE MQTT subscriber for remote control commands
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=5
User=openharmonie
Group=openharmonie
ExecStart=/home/pi/openharmonie/openharmonie.sh

[Install]
WantedBy=multi-user.target
